In [1]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

In [2]:
numberList = [1, 2, 3, 4, 5]

In [3]:
two_times(numberList)

[2, 4, 6, 8, 10]

In [4]:
result

NameError: name 'result' is not defined

In [5]:
def two_times(x):
    return x*2

In [6]:
map(two_times, numberList)

In [7]:
list(map(two_times, numberList))

[2, 4, 6, 8, 10]

In [8]:
names = ['권선영', '김시영', '박희은', '박효진', '정성균']
# 안녕하세요!    고객님~

In [9]:
def Hello(names):
    for i in names:
        print(f'안녕하세요! {i} 고객님~')

In [10]:
Hello(names)

안녕하세요! 권선영 고객님~
안녕하세요! 김시영 고객님~
안녕하세요! 박희은 고객님~
안녕하세요! 박효진 고객님~
안녕하세요! 정성균 고객님~

In [13]:
def Hello(names):
    return '안녕하세요! ' + names + ' 고객님~'

In [14]:
list(map(Hello, names))

['안녕하세요! 권선영 고객님~',
 '안녕하세요! 김시영 고객님~',
 '안녕하세요! 박희은 고객님~',
 '안녕하세요! 박효진 고객님~',
 '안녕하세요! 정성균 고객님~']

In [22]:
names = ['권선영', '김시영', '박희은', '박효진', '정성균']
score = [50, 60, 70, 80, 90]
score1 = [100, 90, 80, 70, 60]

In [21]:
list(zip(names, score)) # 두 리스트의 개수가 부족해도 오류는 안 나고 출력이 됨

[('권선영', 50), ('김시영', 60), ('박희은', 70), ('박효진', 80), ('정성균', 90)]

In [23]:
list(zip(names, score, score1))

[('권선영', 50, 100),
 ('김시영', 60, 90),
 ('박희은', 70, 80),
 ('박효진', 80, 70),
 ('정성균', 90, 60)]